.title{
    font-family: 'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: beige;
}

.navigation{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

p{
    text-align: center;
    font-size: 32px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
