*{
    padding: 0;
    margin: 0;
    display: flexbox;
    box-sizing: border-box;
}

body{
    font-family: papyrus, serif;
    background-color: #f4f4f4;
}

h1{
    padding: 10px;
    margin: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: antiquewhite;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: brown;
}
h2{
    margin: 10px;
    padding: 0;
    font-size: 22px;
    text-align: left;
    color: sandybrown;
}
.class-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

/* Styling for the cards */
.card , .home{
    background-color: white;
    padding: 30px;
    margin: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    color: sandybrown;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.card:hover, .home:hover{
    color: navajowhite;
    text-decoration: none;
}

.home{
   display: flex;
}